<form class="auth-form">
  <div class="auth-form__title">NFT Access</div>
  <div class="auth-form__desc">
    Please fill your detail to access your account.
  </div>

  <div class="auth-form__field">
    <div class="auth-form__field-name">Email</div>
    <div class="auth-form__field-area">
      <input [(ngModel)]="inputText" name="inputText"
        class="auth-form__field"
        type="email"
        placeholder="debra.holt@example.com"
      />
      <div (click)="inputText = ''" class="auth-form__field-img">
        <img src="assets/clear.png" alt="clear icon" />
      </div>
    </div>
  </div>
  <div class="auth-form__field">
    <div class="auth-form__field-name">Password</div>
    <div class="auth-form__field-area">
      <input class="auth-form__field" name="passwordShow" [type]="passwordShow ? 'text' : 'password'" placeholder="••••••••" />
      <div (click)="passwordShow = !passwordShow" class="auth-form__field-img">
        <img src="assets/show.png" alt="clear icon" />
      </div>
    </div>
  </div>
  <div class="auth-form__extras">
    <label class="auth-form__checkbox">
      <input type="checkbox" />
      <div class="auth-form__checkbox-text">Remember me</div>
    </label>
    <div class="auth-form__alt-check"><a href="/">Forgot Password?</a></div>
  </div>
  <a class="auth-form__sign-in" href="/">Sign in</a>
  <a class="auth-form__sign-in-google" href="/">
    <img src="assets/google.png" alt="googlr icon" />
    <span class="uth-form__sign-in-google-text">Sign in with Google</span>
  </a>
  <div class="auth-form__no-account">
    <div class="auth-form__no-account-text">Don't have an account?</div>
    <div class="auth-form__alt-check"><a href="/">Sign up</a></div>
  </div>
</form>
